<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="color:white;">
        Browse the latest transporter on iTransport
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="instrument-index-grid pt4">
  <% @carriers.each do |carrier| %>

    <div class="instrument border-light">
      <div class="instrument-thumb">
      <%= link_to image_tag(carrier.image_url(:thumb)), carrier %>

      <% if carrier.surname? %>
        <div class="surname">
          <span class="tag is-dark"><%= carrier.surname %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">

      <h3 class="fw7 f4 title"><%= link_to carrier.surname, carrier %></h3>

      <p class="has-text-gray fg pt1">Sold by <%= carrier.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(carrier.price) %></p>

      <% if carrier_author(carrier) %>
         <%= link_to 'Edit', edit_carrier_path(carrier), class: "button is-small" %>
         <%= link_to 'Delete', carrier, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>
</div>
